header,
nav,
main,
footer {
  max-width: 1325px;
  margin: auto;
}


nav ul li a {
  padding: .8rem;
  font-size: .9rem;
}

footer {
  margin-top: 3rem;
}

.parent4 {
  grid-template-columns: 1fr 1fr 1fr;
}