header {
  padding: 1rem $gutter;
  .phone {
    display: none;
  }
}

header > div {
  h1 {
    font-size: 1.8rem;
  }
  img {
    width: 50px;
  }
  p {
    display: block;
    color: black;
  }
  a {
    text-decoration: none;
  }
}

// Nav Styles

nav {
  ul {
    display: flex;
    li a {
      border: none;
      padding: 2.2vw;
    }
  }
}


.parent4 {
  grid-template-columns: 1fr 1fr;
}